.d-block {
    display: block;
}

.d-in-block {
    display: inline-block;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.unset {
    position: unset;
}

.overflow {
    overflow: hidden;
}

.overflow-x {
    overflow-x: hidden;
}

.overflow-y {
    overflow-y: hidden;
}

.x-scroll {
    overflow-x: scroll;
}

.y-scroll {
    overflow-y: scroll;
}