{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" with {'defaultHeader': 'default-header'} %}
<div class="account-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-7 mb-md-50">
                        <div class="account-page-banner-content">
                            <h1>Your Account</h1>
                            <p>Currently, you're not a paying subscriber. You've an active account with access to articles for subscribers only. Upgrade your account and get access to the full library of articles.</p>
                            <div class="account-mail-dtls">
                                <div class="account-mail">
                                    <h5>Email Address</h5>
                                    <a href="">youraccount@gmail.com</a>
                                </div>
                                <div class="account-plan">
                                    <h5>Your plan</h5>
                                    <h6>Free</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="account-page-banner-image">
                            <img src="assets/img/gallery/account-profile.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing area start from here-->
<div class="priceing-area">
    <div class="priceing-title text-center">
        <p>More articles? choose your plan</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 m-auto">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-sm-50">
                        <div class="priceing-single-item text-center">
                            <div class="priceing-single-top">
                                <h4>Monthly</h4>
                                <h3><span>$</span>8</h3>
                                <ul>
                                    <li>Full access to post for subscribe</li>
                                    <li>Weekly email newsletter</li>
                                    <li>Support independent publishing</li>
                                    <li>Simple secure card payment</li>
                                    <li>No advertising</li>
                                </ul>
                            </div>
                            <div class="priceing-single-btm">
                                <button class="btn btn-md btn-orange btn-radious-6">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="priceing-single-item text-center">
                            <div class="priceing-single-top">
                                <h4>Yearly</h4>
                                <h3><span>$</span>20</h3>
                                <ul>
                                    <li>Full access to post for subscribe</li>
                                    <li>Weekly email newsletter</li>
                                    <li>Support independent publishing</li>
                                    <li>Simple secure card payment</li>
                                    <li>One easy payment instead of 12!</li>
                                    <li>No advertising</li>
                                </ul>
                            </div>
                            <div class="priceing-single-btm">
                                <button class="btn btn-md btn-orange btn-radious-6">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related post area start from here -->
<section class="related-post-area pb-100">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Your Reading List</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-md-50">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post1.jpg" alt="">
                            </div>
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Technology</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">video games playing with imagination</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-md-50">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post2.jpg" alt="">
                            </div> 
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Beauty</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">Ingredients To Look For In Skin Care Products</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post6.jpg" alt="">
                            </div> 
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Treavel</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">Ingredients To Look For In Skin Care Products</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center ">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>