{% include "elements/header.twig" %}
{% include "elements/components/header.twig" %}
<!-- author banner start from here-->
<section class="author-banner-area">
    <div class="container">
        <div class="author-content text-center">
            <h1>Our Authors</h1>
            <p>An author is the creator or originator of any written work such as a book or play, and is thus also a writer. More broadly defined, an author is "the person who originated or gave existence to anything" and whose authorship determines responsibility for what was created.</p>
        </div>
    </div>
</section>
<!-- author card area start from here-->
<div class="author-card-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row">
                    <div class="col-lg-6 mb-30">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img1.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Ahmad Ajmi</a></h3>
                                <p>Author & developer of Aspire Themes. Minimalist. I love creating clean and minimal websites.Technical writer at SitePoint.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Cairo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-30">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img2.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Christopher Merry</a></h3>
                                <p>Get our standard free & premium responsive ghost themes. we offer totally responsive, SEO friendly & user friendly themes.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Bangladesh</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-30">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img3.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Eiad Basha</a></h3>
                                <p>Get our standard free & premium responsive ghost themes. we offer totally responsive, SEO friendly & user friendly themes.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Cairo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-30">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img4.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Phillip Reed</a></h3>
                                <p>Get our standard free & premium responsive ghost themes. we offer totally responsive, SEO friendly & user friendly themes.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Cairo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-30">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img5.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Eiad Basha</a></h3>
                                <p>Get our standard free & premium responsive ghost themes. we offer totally responsive, SEO friendly & user friendly themes.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Cairo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="author-single-card">
                            <div class="author-single-card-img">
                                <img src="assets/img/author/author-img6.jpg" alt="">
                            </div>
                            <div class="author-single-card-content">
                                <h3><a href="#">Sara Doe</a></h3>
                                <p>Get our standard free & premium responsive ghost themes. we offer totally responsive, SEO friendly & user friendly themes.</p>
                                <div class="author-social">
                                    <div class="social-icon">
                                        <ul class="d-flex align-items-center">
                                            <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                            <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="author-location">
                                        <img src="assets/img/svg/location.svg" alt="">
                                        <a href="">Cairo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>