{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" with {'defaultHeader': 'default-header'} %}
<div class="pcard-item-area">
    <div class="container">
        <div class="pcard-item-wrapper">
            <div class="pcard-item">
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img1.png" alt="">
                        <span>Traveling</span>
                    </a>
                </div>
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img7.png" alt="">
                        <span>Beauty</span>
                    </a>
                </div>
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img6.png" alt="">
                        <span>Education</span>
                    </a>
                </div>
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img4.png" alt="">
                        <span>Technology</span>
                    </a>
                </div>
                <div class="pcard-single-item">
                   <a href="#">
                         <img src="assets/img/single-post/post-card-img5.png" alt="">
                        <span>Cooking</span>
                   </a>
                </div>
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img3.png" alt="">
                        <span>Lifestyle</span>
                    </a>
                </div>
                <div class="pcard-single-item">
                    <a href="#">
                        <img src="assets/img/single-post/post-card-img2.png" alt="">
                        <span>Sports</span>
                    </a>
                </div>
            </div>
            <div class="post-follow">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#"><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="spc-card-area">
    <div class="container">
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
                <a href="single-blog.html"><img src="assets/img/single-post/post1.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>30 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Beauty</h5>
                    <h3><a href="single-blog.html">Ingredients to look for skin care products</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
                <a href="single-blog.html"><img src="assets/img/single-post/post2.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>23 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Technology</h5>
                    <h3><a href="single-blog.html">Video games playing with imagination</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
                <a href="single-blog.html"><img src="assets/img/single-post/post3.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>07 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Philosophy</h5>
                    <h3><a href="single-blog.html">Dream interpretation symbol and their meanings</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
                <a href="single-blog.html"><img src="assets/img/single-post/post4.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>19 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Travel</h5>
                    <h3><a href="single-blog.html">After travel were canceled, only the iditarod remained</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="promotional-add-area" style="background-image:url(assets/img/single-post/promotion-cover.jpg)">
            <button class="btn btn-border-white">Promotional Ad</button>
            <div class="promotional-svg-shape">
                <img src="assets/img/svg/mask.svg" alt="">
            </div>
        </div>
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
               <a href="single-blog.html"> <img src="assets/img/single-post/post5.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>27 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Education</h5>
                    <h3><a href="single-blog.html">Dream interpretation symbol and their meanings</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="spc-single-card-wrapper">
            <div class="spc-sc-img">
                <a href="single-blog.html"><img src="assets/img/single-post/post6.jpg" alt=""></a>
            </div>
            <div class="spc-sc-content-wrapper">
                <div class="spc-scc-date">
                   <h4>07 <span>nov</span></h4> 
                </div>
                <div class="spc-scc-content">
                    <h5>Sports</h5>
                    <h3><a href="single-blog.html">After sports were canceled, only the iditarod remained</a></h3>
                    <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                </div>
            </div>
        </div>
        <div class="spc-card-navigation">
            <ul>
                <li><a href="#"><img src="assets/img/svg/arrow-right.svg" alt=""></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><img src="assets/img/svg/arrows-left.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="spc-cover-site">
    <ul>
        <li><img src="assets/img/single-post/title-img1.jpg" alt=""></li>
        <li><img src="assets/img/single-post/title-img2.jpg" alt=""></li>
        <li><img src="assets/img/single-post/title-img3.jpg" alt=""></li>
        <li><img src="assets/img/single-post/title-img4.jpg" alt=""></li>
        <li><img src="assets/img/single-post/title-img5.jpg" alt=""></li>
        <li><img src="assets/img/single-post/title-img6.jpg" alt=""></li>
    </ul>
    <button class="btn svg btn-light"><img src="assets/img/svg/instragram.svg" alt=""> instagram</button>
</div>

<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>