{% include "elements/header.twig" %}
{% include "elements/components/header.twig" %}
<!-- banner area start from here -->
<section class="banner-area">
    <div class="container">
        <div class="banner-owl-area owl-carousel" data-carousel-loop="true" data-carousel-autoplay="false" data-carousel-mousedrag="true" data-carousel-items="1" data-carousel-nav="false">
            <div class="banner-single-wrapper">
                <div class="banner-img-area">
                    <h4>featured stories</h4>
                    <div class="banner-img">
                        <img src="assets/img/homepage/banner-image.jpg" alt="">
                    </div>
                </div>
                <div class="banner-content-area">
                    <h5>Travel</h5>
                    <h1><a href="#">You got to cool that off. and hat's the double-truth</a></h1>
                    <h4 class="date"><span>29.Nov.2018</span> -Eiad Basha</h4>
                    <p>Hung that found of the from diesel to the venerable, you what you spare at cleaning in coming was sign introduced attempt, then would was try make brown on small careful cheek, and spirits build needed room so times from </p>
                    <button class="btn btn-sm btn-radious-6 btn-black">Read More</button>
                </div>
            </div>
            <div class="banner-single-wrapper">
                <div class="banner-img-area">
                    <h4>featured stories</h4>
                    <div class="banner-img">
                        <img src="assets/img/homepage/banner-image2.jpg" alt="">
                    </div>
                </div>
                <div class="banner-content-area">
                    <h5>Travel</h5>
                    <h1><a href="#">A muscial gift on bangla noboborsha from Armeen Musa</a></h1>
                    <h4 class="date"><span>20.Nov.2019</span> -Written by Eiad Basha</h4>
                    <p>Hung that found of the from diesel to the venerable, you what you spare at cleaning in coming was sign introduced attempt, then would was try make brown on small careful cheek, and spirits build needed room so times from </p>
                    <button class="btn btn-sm btn-radious-6 btn-black">Read More</button>
                </div>
            </div>
            <div class="banner-single-wrapper">
                <div class="banner-img-area">
                    <h4>featured stories</h4>
                    <div class="banner-img">
                        <img src="assets/img/homepage/banner-image3.jpg" alt="">
                    </div>
                </div>
                <div class="banner-content-area">
                    <h5>Travel</h5>
                    <h1><a href="#">You got to cool that off. and hat's the double-truth</a></h1>
                    <h4 class="date"><span>29.Nov.2018</span> -Written by Eiad Basha</h4>
                    <p>Hung that found of the from diesel to the venerable, you what you spare at cleaning in coming was sign introduced attempt, then would was try make brown on small careful cheek, and spirits build needed room so times from </p>
                    <button class="btn btn-sm btn-radious-6 btn-black">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- all stories section start here -->
<section class="all-stories-area pt-100 pb-50">
    <div class="section-heading text-center">
        <h2>All Stories</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-md-50">
                <div class="row grid">
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img1.jpg" alt="">
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">Beauty</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                            <h4 class="card-title"><a href="single-blog.html">Ingredients to look for in skin care products</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img2.jpg" alt="">
                                <a href="#" class="card-img-title">Member</a>
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">Cooking</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">Cooking recipes anytime and anywhere</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card-content">
                            <div class="sub-title-wrapper">
                                <h4 class="card-sub-title">Technology</h4>
                                <h5 class="card-date">Apr 30, 2019</h5>
                            </div>
                            <h4 class="card-title"><a href="single-blog.html">video games playing with imagination</a></h4>
                            <p class="card-content">Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img3.jpg" alt="">
                                <a href="#" class="card-img-title">Premium</a>
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">Travel</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">Travel prudently luggage and carry on worries</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card-content">
                            <div class="sub-title-wrapper">
                                <h4 class="card-sub-title">Philosophy</h4>
                                <h5 class="card-date">Apr 30, 2019</h5>
                            </div>
                            <h4 class="card-title"><a href="single-blog.html">Dream interpretation common symbols and their meanings</a></h4>
                            <p class="card-content">Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img4.jpg" alt="">
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">Education</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">It would be totally painless - they just slip into unconsciousness</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-md-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img5.jpg" alt="">
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">lifestyle</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">The reason we're gathered here on God-given, much-needed day</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-xs-30 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img6.jpg" alt="">
                                <a href="#" class="card-img-title">Free</a>
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">cooking</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">Why Do make ahead recipes work so well to reduce your dinner.</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-item">
                        <div class="single-stories-card">
                            <div class="stories-card-img">
                                <img src="assets/img/homepage/stories-img7.jpg" alt="">
                            </div>
                            <div class="stories-card-content">
                                <div class="sub-title-wrapper">
                                    <h4 class="card-sub-title">Culture</h4>
                                    <h5 class="card-date">Apr 30, 2019</h5>
                                </div>
                                <h4 class="card-title"><a href="single-blog.html">Winged evening Green Him together good together</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="post-order-wrapper">
                            <ul class="d-flex align-items-center justify-content-between">
                                <li><a href=""><img class="mr-10" src="assets/img/svg/arrow-right.svg" alt="">Newer Post</a></li>
                                <li><a href="">Older Post <img class="ml-10" src="assets/img/svg/arrows-left.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="side-bar-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-7">
                            <div class="latest-post">
                                <h4>Latest Post</h4>
                                <div class="latest-single-post">
                                    <div class="latest-single-img">
                                        <img src="assets/img/sidebar-img/post-img1.png" alt="">
                                    </div>
                                    <div class="latest-single-content">
                                        <div class="latext-scontent-title">
                                            <h5>Technology</h5>
                                            <span>Apr 30, 2019</span>
                                        </div>
                                        <div class="latext-scontent">
                                            <h4><a href="#">Video games playing lorem ipsum dolor . . .</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-single-post">
                                    <div class="latest-single-img">
                                        <img src="assets/img/sidebar-img/post-img2.png" alt="">
                                    </div>
                                    <div class="latest-single-content">
                                        <div class="latext-scontent-title">
                                            <h5>Travel</h5>
                                            <span>Apr 30, 2019</span>
                                        </div>
                                        <div class="latext-scontent">
                                            <h4><a href="#">Travel lorem sit dolor is with imagination . . .</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-single-post">
                                    <div class="latest-single-img">
                                        <img src="assets/img/sidebar-img/post-img3.png" alt="">
                                    </div>
                                    <div class="latest-single-content">
                                        <div class="latext-scontent-title">
                                            <h5>Food</h5>
                                            <span>Apr 30, 2019</span>
                                        </div>
                                        <div class="latext-scontent">
                                            <h4><a href="#">Fresh food give health body with imagination . . .</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-single-post">
                                    <div class="latest-single-img">
                                        <img src="assets/img/sidebar-img/post-img2.png" alt="">
                                    </div>
                                    <div class="latest-single-content">
                                        <div class="latext-scontent-title">
                                            <h5>Lifestyle</h5>
                                            <span>Apr 30, 2019</span>
                                        </div>
                                        <div class="latext-scontent">
                                            <h4><a href="#">Fashion mind lifestyle is amet good life lorem ipsum . . .</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-add" style="background-image:url(assets/img/sidebar-img/promotion-add.jpg)">
                                <button class="btn btn-white btn-radious-6">Promotional Ad</button>
                                <img src="assets/img/svg/circle-shape.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-5">
                            <div class="categories-area">
                                <h4>Categories</h4>
                                <ul>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Traveling</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Food</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                </ul>
                            </div>
                            <div class="instagram-area">
                                <h4>Instagram</h4>
                                <div class="instra-wrap">
                                    <ul>
                                        <li><img src="assets/img/sidebar-img/instra1.png" alt=""></li>
                                        <li><img src="assets/img/sidebar-img/instra2.png" alt=""></li>
                                        <li><img src="assets/img/sidebar-img/instra3.png" alt=""></li>
                                        <li><img src="assets/img/sidebar-img/instra4.png" alt=""></li>
                                        <li><img src="assets/img/sidebar-img/instra5.png" alt=""></li>
                                        <li><img src="assets/img/sidebar-img/instra6.png" alt=""></li>
                                    </ul>
                                    <a href="#" class="btn btn-orange"><img src="assets/img/svg/instra.svg" alt="">instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sports and food section start here-->
<section class="side-img-card-area pt-50 pb-100 pb-md-60 pt-md-30" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-md-50">
                <div class="sports-blog-card">
                    <div class="section-heading">
                        <h2>#Sports</h2>
                    </div>
                    <div class="side-card-wrapper">
                        <div class="side-img-card-wrapper mb-30 mb-md-0  mb-xs-30">
                            <div class="side-card-img">
                                <img src="assets/img/homepage/single-blog-img1.jpg" alt="">
                            </div>
                            <div class="side-card-content">
                                <h4 class="card-title"><a href="premium-page.html">After sports were canceled, only the iditarod remained</a></h4>
                                <p class="card-content">A than in to so even of my times is front better on because the plans. The is perhaps for his own to was that that's it's less.</p>
                            </div>
                        </div>
                        <div class="side-img-card-wrapper">
                            <div class="side-card-img">
                                <img src="assets/img/homepage/single-blog-img3.jpg" alt="">
                            </div>
                            <div class="side-card-content">
                                 <h4 class="card-title"><a href="premium-page.html">The biggest kansas jayhaw NBA draft busts of all time</a></h4>
                                <p class="card-content">A than in to so even of my times is front better on because the plans. The is perhaps for his own to was that that's it's less.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sports-blog-card">
                    <div class="section-heading">
                        <h2>#Food</h2>
                    </div>
                    <div class="side-card-wrapper">
                        <div class="side-img-card-wrapper mb-30 mb-md-0 mb-xs-30">
                            <div class="side-card-img">
                                <img src="assets/img/homepage/single-blog-img2.jpg" alt="">
                            </div>
                            <div class="side-card-content">
                                <h4 class="card-title"><a href="premium-page.html">How to Make a Perfect Pot of French Press Coffee.</a></h4>
                                <p class="card-content">A than in to so even of my times is front better on because the plans. The is perhaps for his own to was that that's it's less.</p>
                            </div>
                        </div>
                        <div class="side-img-card-wrapper">
                            <div class="side-card-img">
                                <img src="assets/img/homepage/single-blog-img4.jpg" alt="">
                            </div>
                            <div class="side-card-content">
                                <h4 class="card-title"><a href="premium-page.html">6 Surprising Foods You Should Never Freeze</a></h4>
                                <p class="card-content">A than in to so even of my times is front better on because the plans. The is perhaps for his own to was that that's it's less.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular tag section start here -->
<section class="popular-tag-area py-100 py-md-60 section-bg">
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading d-flex align-items-center justify-content-between">
                <h2>Popular Tag</h2>
                <a href="">View all</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img1.jpg)">
                        <div class="tag-title">#Lifestyle</div>
                        <div class="tag-card">2</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img2.jpg)">
                        <div class="tag-title">#Cooking</div>
                        <div class="tag-card">3</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img3.jpg)">
                        <div class="tag-title">#Education</div>
                        <div class="tag-card">2</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-30"> 
                    <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img4.jpg)">
                        <div class="tag-title">#Travel</div>
                        <div class="tag-card">4</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-md-30">
                    <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img1.jpg)">
                        <div class="tag-title">#Lifestyle</div>
                        <div class="tag-card">2</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img2.jpg)">
                        <div class="tag-title">#Cooking</div>
                        <div class="tag-card">3</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>