<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blooria</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="assets/css/base-style.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/js/dark-light.js">

</head>
<body class="placeholder">
<div class="loader-wrapper">
   <div class="count"></div> 
   <div class="loader"></div>
   <div class="loader2"></div>
</div>
<div class="demo-banner-area" style="background-image:url(assets/img/demo-page/demo-banner.jpg)">
    <div class="container">
        <div class="demo-banner-wrapper">
            <div class="demo-banner-heading">
                <img class="lazy" src="assets/img/demo-page/Welcome.png" alt="">
                <a href="homepage.html">Blooria</a>
            </div>
            <div class="demo-banner-content" style="background-image:url(assets/img/demo-page/banner-content-img.jpg)">
                <h2>Minimal <span>Blog and Magazine</span></h2>
                <p>HTML Template with Ecommerce</p>
            </div>
        </div>
    </div>
</div>
<div class="demo-swiper-slider">
     <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <a href="homepage-minimal.html"><img class="lazy" src="assets/img/demo-page/banner-page5.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="homepage.html"><img class="lazy" src="assets/img/demo-page/Untitled-2.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                <a href="card.html"><img class="lazy" src="assets/img/demo-page/banner-page4.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="membership.html"><img class="lazy" src="assets/img/demo-page/banner-page3.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="author.html"><img class="lazy" src="assets/img/demo-page/banner-page2.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="product-details.html"> <img class="lazy" src="assets/img/demo-page/banner-page6.jpg" alt=""></a>
                </div>   
            </div>
    </div>
</div>

<div class="demo-pages-section ">
    <div class="container">
        <div class="demo-section-heading section-line">
            <h2>All <span>Pages</span> & Section</h2>
            <p>Also have <span>Dark & Light</span> Version</p>
        </div>
        <div class="row mx-w-100">
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="homepage.html">Home</a></p>
                    <a href="homepage.html">
                        <img class="lazy" src="assets/img/demo-page/page2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="homepage-minimal.html">Home Minimal</a></p>
                    <a href="homepage.html">
                        <img class="lazy" src="assets/img/demo-page/home-minimal.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="homepage-sidebar.html">Home Two</a></p>
                    <a href="homepage.html">
                        <img class="lazy" src="assets/img/demo-page/home-two.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="home-sidebar-minimal.html">Home Minimal Sidebar</a></p>
                    <a href="homepage.html">
                        <img class="lazy" src="assets/img/demo-page/minimal-sidebar.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="account-page.html">Account</a></p>
                    <a href="account-page.html">
                        <img class="lazy" src="assets/img/demo-page/page4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="contact.html">Contact</a></p>
                    <a href="contact.html">
                        <img class="lazy" src="assets/img/demo-page/page6.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="membership.html">Membership</a></p>
                    <a href="membership.html">
                        <img class="lazy" src="assets/img/demo-page/page8.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="author.html">Authors</a></p>
                    <a href="author.html">
                        <img class="lazy" src="assets/img/demo-page/author1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="shop-page.html">Product</a></p>
                    <a href="shop-page.html">
                        <img class="lazy" src="assets/img/demo-page/shop-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="product-details.html">Product Details</a></p>
                    <a href="product-details.html">
                        <img class="lazy" src="assets/img/demo-page/product-dtl-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="card.html">Cart</a></p>
                    <a href="card.html">
                        <img class="lazy" src="assets/img/demo-page/card-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="checkout.html">Checkout</a></p>
                    <a href="checkout.html">
                        <img class="lazy" src="assets/img/demo-page/chechout-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="account-two.html">My Account</a></p>
                    <a href="account-two.html">
                        <img class="lazy" src="assets/img/demo-page/account-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="premium-page.html">Premium Page</a></p>
                    <a href="premium-page.html">
                        <img class="lazy" src="assets/img/demo-page/premium-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="single-author.html">Single Authors</a></p>
                    <a href="single-author.html">
                        <img class="lazy" src="assets/img/demo-page/single-author-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="style-guide.html">Style Guide</a></p>
                    <a href="style-guide.html">
                        <img class="lazy" src="assets/img/demo-page/style-guid-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="single-blog.html">Single Blog</a></p>
                    <a href="single-blog.html">
                        <img class="lazy" src="assets/img/demo-page/single-blog-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="single-tag.html">Single Tag</a></p>
                    <a href="single-tag.html">
                        <img class="lazy" src="assets/img/demo-page/single-tag.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="demo-page-single-card">
                    <p class="demo-card-title"><a href="tag-page.html">Tag Page</a></p>
                    <a href="tag-page.html">
                        <img class="lazy" src="assets/img/demo-page/tag-light.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="comming-soon">
                    <p href="#">Comming Soon</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="demo-key-feature-section">
    <div class="container">
        <div class="feature-section-heading section-line text-center">
            <h2>Key <span>Features</span></h2>
            <p>See what can you do in this template</p>
        </div>
        <div class="key-element-area">
            <table class="table">
                <tbody>
                    <tr>
                        <td><img class="lazy" src="assets/img/demo-page/icon/bootstrap.png" alt="">Bootstrap 4</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/cart.png" alt="">Ecommerce</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/cotation.png" alt="">Blockquote</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/table.png" alt="">Price Table</td>
                    </tr>
                    <tr>
                        <td><img class="lazy" src="assets/img/demo-page/icon/masonry.png" alt="">Masonry</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/responsive1.png" alt="">Responsive Design</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/slider.png" alt="">Carousel Slider</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/video.png" alt="">Videos</td>
                    </tr>
                    <tr>
                        <td><img class="lazy" src="assets/img/demo-page/icon/dropdown.png" alt="">Dropdown Menu</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/action.png" alt="">Call to action</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/forms.png" alt="">Forms</td>
                        <td><img class="lazy" src="assets/img/demo-page/icon/social-icon.png" alt="">Social Icons</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="demo-footer-area">
    <div class="demo-footer-wrapper">
        <div class="demo-footer-left">
            <h2>Get the Best Minimal</h2>
            <p>Blog & Magazine HTML Template</p>
        </div>
        <div class="demo-footer-right">
            <a class="btn btn-sm btn-orange" href="#">Purchase Now</a>
        </div>
    </div>
</div>
  <!-- Jquery -->
    <script src="assets/js/default-js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/default-js/jquery-migrate-1.4.1.min.js"></script>
    <script src="assets/js/default-js/popper.js"></script>
    <script src="assets/js/default-js/bootstrap.min.js"></script>
    <script src="assets/js/plugin/swiper.min.js"></script>
     <script src="assets/js/plugin/lazy-load.js"></script>
     <script src="assets/js/demo-script.js"></script>
</body>
</html>