{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" %}
<section class="membership-banner text-center">
    <h1>Choose your subscription</h1>
    <p>Unlock full access and see the entire library of members-only content & updates.</p>
</section>
<div class="priceing-area">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 mb-md-50">
                        <div class="priceing-single-item text-center">
                            <div class="priceing-single-top">
                                <h4>Free</h4>
                                <h3><span>$</span>0</h3>
                                <ul>
                                    <li>Full access to post for subscribe</li>
                                    <li>Weekly email newsletter</li>
                                    <li>No advertising</li>
                                </ul>
                            </div>
                            <div class="priceing-single-btm">
                                <button class="btn btn-md btn-orange btn-radious-6">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-md-50">
                        <div class="priceing-single-item text-center">
                            <div class="priceing-single-top">
                                <h4>Monthly</h4>
                                <h3><span>$</span>8</h3>
                                <ul>
                                    <li>Full access to post for subscribe</li>
                                    <li>Weekly email newsletter</li>
                                    <li>Support independent publishing</li>
                                    <li>Simple secure card payment</li>
                                    <li>No advertising</li>
                                </ul>
                            </div>
                            <div class="priceing-single-btm">
                                <button class="btn btn-md btn-orange btn-radious-6">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <div class="priceing-single-item text-center">
                            <div class="priceing-single-top">
                                <h4>Yearly</h4>
                                <h3><span>$</span>20</h3>
                                <ul>
                                    <li>Full access to post for subscribe</li>
                                    <li>Weekly email newsletter</li>
                                    <li>Support independent publishing</li>
                                    <li>Simple secure card payment</li>
                                    <li>One easy payment instead of 12!</li>
                                    <li>No advertising</li>
                                </ul>
                            </div>
                            <div class="priceing-single-btm">
                                <button class="btn btn-md btn-orange btn-radious-6">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="member-sign-option text-center">
        <p>Already have an account?<a href="">Sign in</a> </p>
    </div>
</div>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>