{% include "elements/header.twig" %}
{% include "elements/components/header.twig" %}
<!--shop-banner area start here-->
<section class="shop-banner-area">
    <div class="banner-area-bg">
        <div class="container">
            <div class="row">
                <div class="shop-banner d-flex align-items-center justify-content-between">
                    <div class="shop-banner-content">
                        <h2>Shop</h2>
                        <p>Showing 1-10 of 30 results</p>
                    </div>
                    <div class="shop-banner-list">
                        <select id="select" class="nice-select" name="sort" multiple>
                            <option data-display="Dafult sorting">Dafult sorting</option>
                            <option value="1">Bed & Bath</option>
                            <option value="2">Furniture</option>
                            <option value="3" disabled>	Smart Tvs</option>
                            <option value="4">Gifts</option>
                            <option value="5">Lighting</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="shop-card-area py-70 py-md-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-50">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img1.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Watercolor Art</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img2.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Creative 3d Paint</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img3.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Flower Vase</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-md-50">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img4.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Creative 3d Paint</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-xs-50">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img5.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Minimal Vase for Table</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-shop-card">
                    <a href="#" class="single-shop-card-img">
                        <img src="assets/img/shop/shop-img6.jpg" alt="">
                    </a>
                    <div class="single-shop-card-content">
                        <div class="review__rating">
                            <input type="radio" checked value='0' name='rating' />
                            <label>★</label>

                            <input type="radio" value='1' name='rating' />
                            <label>★</label>

                            <input type="radio" value='2' name='rating' />
                            <label>★</label>

                            <input type="radio" value='3' name='rating' />
                            <label>★</label>

                            <input type="radio" value='4' name='rating' />
                            <label>★</label>
                        </div>
                        <div class="card-title">
                            <h3><a href="product-details.html">Combo Flower Vase</a></h3>
                        </div>
                        <div class="card-content-wrap">
                            <h4><span>$17.00</span> $9.05</h4>
                            <button class="btn btn-white btn-sm btn-radious-6 border-gray-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spc-card-navigation mt-50">
            <ul>
                <li><a href="#"><img src="assets/img/svg/arrow-right.svg" alt=""></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><img src="assets/img/svg/arrows-left.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>