
{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" %}
<div class="single-author-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto px-md-0">
                <div class="profile-area">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <img src="assets/img/single-blog/profile-img.jpg" alt="" class="blog-profile-img">
                        </div>
                        <div class="col-lg-7">
                            <div class="blog-profile-content">
                                <h3>Eiad Basha</h3>
                                <p>Designer News is where the design community meets, apparently. On the platform, you can share and discover interesting content as well as start discussions and upvote good content.</p>
                                <h4>Follow me :</h4>
                                <div class="social-icon">
                                    <ul class="d-flex align-items-center">
                                        <li><a href=""><img src="assets/img/svg/facebook.svg" alt=""></a></li>
                                        <li><a href=""><img src="assets/img/svg/instagram.svg" alt=""></a></li>
                                        <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                        <li><a href=""><img src="assets/img/svg/youtube.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-shape-img">
                        <img src="assets/img/shape-profile.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-author-card-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-md-50 px-25 px-md-15  mb-lg-50">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post4.jpg" alt="">
                            </div>
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Technology</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">video games playing with imagination</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-md-50 px-25 px-md-15">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post5.jpg" alt="">
                            </div> 
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Technology</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">Ingredients To Look For In Skin Care Products</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 px-25 px-md-15">
                        <div class="related-post-card">
                            <div class="related-post-card-img">
                                <img src="assets/img/single-blog/single-post3.jpg" alt="">
                            </div> 
                            <div class="related-post-card-content">
                                <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                                    <h4>Technology</h4>
                                    <h5>Apr 30, 2019</h5>
                                </div>
                                <div class="rpc-content-title">
                                    <h2><a href="#">Ingredients To Look For In Skin Care Products</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>