{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" %}
<section class="single-tag-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="single-tag-banner-img">
                    <img src="assets/img/single-tag/banner.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="single-tag-banner-content">
                    <h5>3 Posts</h5>
                    <h2>Cooking</h2>
                    <p>Hung that found of the from diesel to the venerable, you what you spare at cleaning in coming was sign introduced attempt, then would was try make brown on small careful cheek, and spirits build needed room so times from </p>
                    <button class="btn btn-sm btn-orange btn-radious-6">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="single-tag-post-area py-100 py-sm-50 section-bg py-md-50">
    <div class="container">
        <div class="row justify-content-center grid">
            <div class="col-lg-4 col-sm-6 mb-50 mb-sm-25 grid-item">
                <div class="related-post-card">
                    <div class="related-post-card-img">
                        <img src="assets/img/single-tag/tag-card-img1.jpg" alt="">
                    </div>
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Beauty</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">Ingredients to look for in skin care products</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50 mb-sm-25 grid-item">
                <div class="related-post-card single-content-card">
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Technology</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">Video games playing with imagination</a></h2>
                            <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50 mb-sm-25 grid-item">
                <div class="related-post-card">
                    <div class="related-post-card-img">
                        <img src="assets/img/single-tag/tag-card-img2.jpg" alt="">
                    </div>
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Travel</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">Travel prudently luggage and carry on worries</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-sm-25 grid-item">
                <div class="related-post-card single-content-card">
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Education</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">It would be totally painless - they just slip into unconsciousness</a></h2>
                            <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50 mb-sm-25 grid-item">
                <div class="related-post-card">
                    <div class="related-post-card-img">
                        <img src="assets/img/homepage/stories-img2.jpg" alt="">
                    </div>
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Cooking</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">Cooking recipes anytime and anywhere</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-50 mb-sm-25 grid-item">
                <div class="related-post-card single-content-card">
                    <div class="related-post-card-content single-tag-card">
                        <div class="rpc-content-timeline d-flex align-items-center justify-content-between">
                            <h4>Philosophy</h4>
                            <h5>Apr 30, 2019</h5>
                        </div>
                        <div class="rpc-content-title">
                            <h2><a href="single-blog.html">Dream interpretation common symbols and their meanings</a></h2>
                            <p>Glanced was, frequency, this tower, writers, a of its in of by the subdued titles extended.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="post-order-wrapper">
                    <ul class="d-flex align-items-center justify-content-between">
                        <li><a href=""><img class="mr-10" src="assets/img/svg/arrow-right.svg" alt="">Newer Post</a></li>
                        <li><a href="">Older Post <img class="ml-10" src="assets/img/svg/arrows-left.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>