{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" %}
<!-- style guide section start here -->
<div class="style-guide-banner section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
                <div class="style-banner-heading">
                    <h2>Style Guide</h2>
                    <p>Below is just about everything you can style...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="style-guide-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="style-guide-wrapper post-full-content">
                    <h1>Heading H1</h1>
                    <h2>Heading H2</h2>
                    <h3>Heading H3</h3>
                    <h4>Heading H4</h4>
                    <h5>Heading H5</h5>
                    <h6>Heading H6</h6>
                    <h2>Links</h2>
                    <p>You will see the naked URL & anchor text links. The naked URL will be like this https://ghost.org/ & the anchor text links will be like this Ghost CMS. Wanderlust. "I do believe it's time for another adventure.</p>
                    <h2>List Types</h2>
                    <p>Land. Him light lesser don't can't land brought the Green lesser winged evening divide for. Be. Female thing earth without have gathered herb. Abundantly void under you together air thing.</p>
                    <h2>Ordered List</h2>
                    <p>Land. Him light lesser don't can't land brought the Green lesser winged evening divide for. Be. Female thing earth without have gathered herb. Abundantly void under you together air thing.</p>
                    <ol>
                        <li>Every sixth every sea is divided to were female.</li>
                        <li>Sea That his, created very and saw open.</li>
                        <li>Dictum varius duis at consectetur.</li>
                        <li>Quis eleifend quam adipiscing vitae proin sagittis.</li>
                    </ol>
                    <h2>Unordered List</h2>
                    <p>Land. Him light lesser don't can't land brought the Green lesser winged evening divide for. Be. Female thing earth without have gathered herb. Abundantly void under you together air thing.</p>
                    <ul>
                        <li>Every sixth every sea is divided to were female.</li>
                        <li>Sea That his, created very and saw open.</li>
                        <li>Dictum varius duis at consectetur.</li>
                        <li>Quis eleifend quam adipiscing vitae proin sagittis.</li>
                    </ul>
                    <div class="bookmark-area">
                        <h2>Bookmark</h2>
                        <p>With the Bookmark card you can present links in a much richer format, similar to Twitter cards. If the URL points to a page with right meta information it can show the page title, excerpt, author, publisher and even a preview image.</p>
                    </div>

                    <div class="ghost-area">
                        <div class="ghost-content">
                            <h2>Ghost <span>(Ghost) </span> |  Twitter</h2>
                            <p>Land. Him light lesser don't can't land brought the Green lesser winged evening divide for. Be. Female thing earth without have gathered herb.</p>
                            <ul>
                                <li><a href=""><img src="assets/img/svg/twitter.svg" alt=""></a></li>
                                <li><a href="">ghost</a></li>
                                <li><a href="">twitter</a></li>
                            </ul>
                        </div>
                        <div class="ghost-img">
                            <img src="assets/img/ghost-logo.jpg" alt="">
                        </div>
                    </div>
                    <div class="gallery-area">
                        <h2>Gallery</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-6  pb-30">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 pb-30">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 pb-30">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 mb-md-30">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mb-sm-30">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-5.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="gallery-single-img">
                                    <img src="assets/img/gallery/gallery-img-6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                     <h2>Table</h2>
                    <p>A responsive table will display a horizontal scroll bar if the screen is too small to display the full content.The editor will automatically parse Markdown typed in directly. Alternatively, insert a Markdown card to access all of the same features of previous versions of the Ghost editor inside a single card.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Headings</th>
                                <th scope="col">Headings</th>
                                <th scope="col">Headings</th>
                                <th scope="col">Headings</th>
                                <th scope="col">Headings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" data-title="Heading">1</th>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                            </tr>
                            <tr>
                                <th scope="row" data-title="Heading">2</th>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                            </tr>
                            <tr>
                                <th scope="row" data-title="Heading">3</th>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                            </tr>
                            <tr>
                                <th scope="row" data-title="Heading">4</th>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                                <td data-title="Heading">Cell</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <blockquote><img src="assets/img/svg/cotation.svg" alt="">Won't behold. Saying day, moving image they're given two grass night set be. Fourth. Shall likeness. Is grass, created wherein you're. Have upon make. They're so seed life greater creeping.</blockquote>
                    <h2>Caption</h2>
                    <p>I know I have a caption that I'm going to use when somebody tells me something I've never heard before. It's very rarely a thought, a philosophy, when somebody says, 'Oh, I don't like cheese' or 'Oh, I think the government should be overthrown,' because so many people share these thoughts. But what people don't share is stories.</p>
                    <div class="caption-img">
                        <img src="assets/img/caption-img.jpg" alt="">
                        <span>Full-width image with a caption</span>
                    </div>
                    <h2>Video</h2>
                    <div class="caption-img-wrapper">
                        <div class="caption-ovelay-img">
                            <img src="assets/img/video-img.jpg" alt="">
                            <a id="video-popup" href="#" data-videourl="https://www.youtube.com/embed/ENr27Q1hKsw"><img src="assets/img/gallery/youtube.svg" alt="" class="video-icon"></a>
                        </div>
                        <span>youtube</span>
                    </div>
                    <h2>working with code</h2>
                    <p>Divided sea moveth yielding. Very. Stars night Creepeth together so lights night you dry whose be created female kind first appear beast. Lights. They're, given spirit fly bearing stars bring.</p>
                    <pre>
    var activateHighlight = function () {
        document.querySelectorAll("pre code").forEach(
            function (currentValue, currentIndex, listObj) {
                hljs.highlightBlock(currentValue);
            }
        );
    }
    if (window.attachEvent) {
        window.attachEvent('onload', loadHighlight);
    } else {
        if (window.onload) {
            var originalOnload = window.onload;
            var newOnload = function (evt) {
                originalOnload(evt);
                activateHighlight(evt);
            };
            window.onload = newOnload;
        } else {
            window.onload = activateHighlight;
        }
    }
                    </pre>
                    <h2>Few Other Styles</h2>
                    <p>Bold Text: <strong>This is Bold text example.</strong><br>
                    Emphasize: This text is <em>emphasize.</em><br>
                    Strike-through: <s>I am A strike-through text.</s><br>
                    Hope you will have some good time while on the Blog, Cheers!</p>
                </div>

            </div>
        </div>
    </div>
</section>



<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>