
{% include "elements/header.twig" %}
<!-- header area start from here-->
{% include "elements/components/header.twig" %}
<!-- tag page banner start here-->
<section class="tag-banner-area">
    <div class="container">
        <div class="tag-banner-content text-center">
            <h1>Our Tag Archive</h1>
            <p>Hung that found of the from diesel to the venerable, you what you spare at cleaning in coming was sign introduced attempt, then would was try make brown.</p>
        </div>
    </div>
</section>
<div class="tag-list-area">
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="row">
                    <div class="col-md-6 col-xl-4 mb-30">
                        <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img1.jpg)">
                            <div class="tag-title">#Lifestyle</div>
                            <div class="tag-card">2</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30">
                        <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img2.jpg)">
                            <div class="tag-title">#Cooking</div>
                            <div class="tag-card">3</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30">
                        <a href="single-tag.html" class="popular-single-tag-wrapper" style="background-image:url(assets/img/homepage/tag-img3.jpg)">
                            <div class="tag-title">#Education</div>
                            <div class="tag-card">2</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img4.jpg)">
                            <div class="tag-title">#Travel</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img5.jpg)">
                            <div class="tag-title">#Design</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img6.jpg)">
                            <div class="tag-title">#Philosophy</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img6.jpg)">
                            <div class="tag-title">#Technology</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img6.jpg)">
                            <div class="tag-title">#Beauty</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img6.jpg)">
                            <div class="tag-title">#Food</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-lg-30"> 
                        <a href="single-tag.html" class="popular-single-tag-wrapper " style="background-image:url(assets/img/homepage/tag-img6.jpg)">
                            <div class="tag-title">#Sports</div>
                            <div class="tag-card">4</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="row align-items-center">
                    <div class="col-md-10 m-auto">
                        <div class="suscribe-wrapper">
                            <div class="section-heading text-center">
                                <h2>Newsletter</h2>
                                <p>Subscribe to see what we're thinking & get always latest update</p>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="enter your email">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "elements/components/footer.twig" %}
{% include "elements/footer.twig" %}
</body>
</html>
