    // text transfrom
    .text-upper {
        text-transform: uppercase;
    }
    
    .text-lower {
        text-transform: lowercase;
    }
    
    .text-capital {
        text-transform: capitalize;
    }
    
    // align items class here
    .text-center {
        text-align: center;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-left {
        text-align: left;
    }
    
    .text-center-i {
        text-align: center !important;
    }
    
    .text-right-i {
        text-align: right !important;
    }
    
    .text-left-i {
        text-align: left !important;
    }
    
    .text-nowrap {
        white-space: nowrap;
    }
    
    .text-underline {
        text-decoration: underline;
    }
    
    // Vertical align
    .vartical-top {
        vertical-align: top;
    }
    
    .vartical-mdl {
        vertical-align: middle;
    }
    
    .vartical-btm {
        vertical-align: baseline;
    }
    
    // line height class here
    .line-height-1 {
        line-height: 1.1;
    }
    
    .line-height-2 {
        line-height: 1.2;
    }
    
    .line-height-3 {
        line-height: 1.3;
    }
    
    .line-height-4 {
        line-height: 1.4;
    }
    
    .line-height-5 {
        line-height: 1.5;
    }
    
    .line-height-6 {
        line-height: 1.6;
    }
    
    .line-height-7 {
        line-height: 1.7;
    }