    .style-guide-banner {
        padding: 150px 0px 100px;
    }
    
    .post-full-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        >* {
            width: 100%;
            height: auto;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--color-heading);
            margin-top: 30px;
            margin-bottom: 0;
        }
        h1+p,
        h2+p,
        h3+p,
        h4+p,
        h5+p,
        h6+p {
            margin-top: 10px;
        }
        h1,
        h2 {
            margin-top: 50px;
        }
        hr+p {
            margin-top: 0;
        }
        hr+h1 {
            margin-top: 0;
        }
        hr+h2 {
            margin-top: 0;
        }
        .social-icon+p {
            margin-top: 0;
        }
        .social-icon+h1 {
            margin-top: 0;
        }
        .social-icon+h2 {
            margin-top: 0;
        }
        button {
            width: auto;
        }
        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 30px;
        }
        h4 {
            font-size: 24px;
        }
        h5 {
            font-size: 20px;
        }
        h6 {
            font-size: 18px;
        }
        p {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 0;
            line-height: 1.5;
        }
        a {
            border-bottom: 2px solid var(--color-heading);
            transition: 0.4s;
            &:hover {
                color: unset;
            }
        }
        span {
            color: var(--color-white);
            padding-right: 5px;
        }
        .caption-img-wrapper {
            margin-top: 25px;
        }
        pre {
            font-size: 16px;
            background-color: var(--color-secondary);
            color: var(--color-text2);
            padding: 1em;
            margin-bottom: 0;
            margin-top: 30px !important;
            margin-top: 0;
            border-radius: 0;
            line-height: 1.6;
            overflow: auto;
            code {
                font-size: 16px;
                color: var(--color-white);
            }
            span {
                font-size: 16px;
            }
        }
        ul {
            margin-top: 20px;
            li {
                font-size: 19px;
                line-height: 1.5;
                padding: 0 10px 10px 25px;
                color: var(--color-heading);
                position: relative;
                code {
                    padding: 2px 5px;
                    color: var(--color-text2);
                    background-color: var(--color-secondary);
                }
                &:after {
                    position: absolute;
                    content: "";
                    left: 4px;
                    top: 10px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    background-color: var(--color-heading);
                }
            }
        }
        ol {
            margin-left: 25px;
            margin-top: 20px;
            li {
                font-size: 19px;
                line-height: 1.5;
                padding: 0 0 10px 5px;
                color: var(--color-heading);
                list-style: decimal;
                code {
                    padding: 2px 5px;
                    color: var(--color-heading);
                    background-color: var(--color-secondary);
                }
            }
        }
        blockquote {
            font-size: 30px;
            line-height: 1.4;
            font-family: var(--title-font);
            position: relative;
            margin: 50px 100px 30px;
            padding: 40px 100px;
            color: var(--color-heading);
            background-color: var(--color-secondary);
            text-align: center;
            img,
            svg {
                display: block;
                margin: 0 auto;
                height: 50px;
                margin-bottom: 15px;
            }
            // &::after {
            //     position: absolute;
            //     content: '"';
            //     font-weight: 400;
            //     font-size: 145px;
            //     color: var(--color-Sub-heading);
            //     line-height: 45px;
            // }
            strong {
                color: var(--color-heading);
            }
            a {
                border-bottom: 2px solid var(--color-heading);
                color: unset !important;
            }
            p {
                margin-bottom: 0;
            }
        }
        hr {
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: var(--color-secondary);
            height: 2px;
            border: 0
        }
        p code {
            color: var(--color-text2);
            border: 1px solid var(--color-account-border);
            padding: 2px 5px;
            background-color: var(--color-secondary);
        }
        code span {
            padding: 0;
            color: var(--input-white);
        }
        .table-inner-contents+* {
            margin-top: 0;
        }
        iframe {
            width: 100%;
        }
        hr {
            margin-top: 65px;
            margin-bottom: 55px;
            border: 0;
            &.style2 {
                border-top: 1px solid var(--table-border2);
                border-bottom: 1px solid var(--table-border2);
                padding-top: 4px;
            }
        }
        .ghost-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 30px;
            background-color: var(--color-secondary);
            margin-top: 50px;
            .ghost-content {
                padding: 20px;
                h2 {
                    font-size: 22px;
                    padding-bottom: 30px;
                    margin-top: 0px;
                    span {
                        display: inline-block;
                        padding: 0px 10px;
                    }
                }
                p {
                    padding-bottom: 40px;
                    margin-top: 0px;
                }
                ul {
                    margin-top: 0px;
                    li {
                        display: inline-block;
                        padding: 0px 10px;
                        list-style: none;
                        &:after {
                            height: 0px;
                            width: 0px;
                        }
                        a {
                            font-size: 16px;
                            font-weight: var(--text-medium);
                            font-family: var(--title-font);
                            text-transform: capitalize;
                            color: var(--color-heading);
                            border-bottom: 0px;
                            svg,
                            img {
                                height: 20px;
                                width: 20px;
                                path {
                                    fill: var(--twitter-color);
                                }
                            }
                        }
                        &:last-child {
                            position: relative;
                            padding-left: 15px;
                            &:after {
                                position: absolute;
                                content: "";
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                height: 5px;
                                width: 5px;
                                background-color: var(--color-text);
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .gallery-area {
            padding-bottom: 20px;
            h2 {
                padding: 0px 0px 70px 70px;
            }
            .gallery-single-img {
                border-radius: 10px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        .table {
            margin-top: 30px;
            thead {
                tr {
                    th {
                        border-bottom: 0px;
                        font-size: 16px;
                        color: var(--color-heading);
                        font-weight: var(--text-bold);
                        font-family: var(--title-font);
                        padding: 25px 15px;
                    }
                }
            }
            tbody {
                tr {
                    td,
                    th {
                        font-size: 16px;
                        color: var(--color-text);
                        font-family: var(--title-font);
                        font-weight: var(--text-regular);
                        padding: 15px;
                    }
                }
            }
        }
        .caption-img {
            padding-top: 70px;
            text-align: center;
            img {
                width: 100%;
            }
            span {
                display: block;
                padding-top: 25px;
            }
        }
        .caption-img-wrapper {
            .caption-ovelay-img {
                position: relative;
                >img {
                    width: 100%;
                }
                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: var(--color-heading);
                    z-index: 1;
                    opacity: 0.45;
                }
                a {
                    svg,
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 118px;
                        height: 82px;
                        max-height: 100%;
                        max-width: 100%;
                        cursor: pointer;
                        z-index: 2;
                    }
                }
            }
            span {
                display: block;
                text-align: center;
                padding-top: 25px;
            }
        }
    }
    
    @media screen and (max-width:991px) {
        .post-full-content {
            margin-bottom: 50px;
        }
    }
    
    @media screen and (max-width:767px) {
        .style-guide-banner {
            padding: 100px 0px 50px;
        }
        .post-full-content {
            h1 {
                font-size: 30px;
                margin-top: 15px;
            }
            .ghost-area {
                padding: 0px 25px;
                flex-direction: column-reverse;
            }
            .gallery-area {
                h2 {
                    padding: 0px 0px 30px 50px;
                }
            }
            blockquote {
                font-size: 25px;
                margin: 50px 25px 15px;
                padding: 25px 50px;
            }
        }
        .post-full-content {
            margin-bottom: 50px;
        }
    }
    
    @media screen and (max-width:575px) {
        .post-full-content {
            .table {
                thead {
                    display: none;
                }
                tbody {
                    tr {
                        background-color: var(--color-secondary);
                        margin-bottom: 30px;
                        display: block;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        th,
                        td {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: flex-end;
                            padding: 15px;
                            border-bottom: 1px solid var(--table-border2);
                            position: relative;
                            &:after {
                                position: absolute;
                                content: attr(data-title) ": ";
                                top: 50%;
                                left: 25px;
                                font-size: 18px;
                                font-weight: var(--text-medium);
                                color: var(--menu-color);
                                transform: translateY(-50%);
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
        .post-full-content {
            blockquote {
                font-size: 20px;
                padding: 25px;
            }
        }
        .caption-img-wrapper {
            margin-top: 15px;
        }
    }