.section-bg {
    background-color: var(--color-secondary);
}

.circle-red {
    background-color: var(--ired);
}

.circle-yellow {
    background-color: var(--yellow);
}

.circle-gray {
    background-color: var(--gray);
}

.circle-paste {
    background-color: var(--paste);
}