// search box style here
.search-option {
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    .search-box {
        height: 60px;
        width: 100%;
        border-radius: 5px;
        background-color: var(--color-secondary);
        position: relative;
        input {
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: none;
            border-radius: 0px;
            font-size: 16px;
            font-family: var(--title-font);
            font-weight: var(--text-medium);
            color: var(--menu-color);
            line-height: 1.4;
            padding-left: 90px;
            &::placeholder {
                color: var(--color-text);
            }
        }
        svg,
        img {
            position: absolute;
            height: 25px;
            width: 25px;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            path {
                fill: var(--color-text);
            }
        }
    }
}

// list css here
.data-list-wrapper {
    margin-top: 50px;
    .data-list {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s ease;
        li {
            padding: 25px 20px;
            padding-bottom: 30px;
            position: relative;
            z-index: 1;
            border-radius: 6px;
            overflow: hidden;
            transform: translateY(100px);
            opacity: 0;
            // transition support
            -webkit-transition: all 800ms cubic-bezier(0.680, 0, 0.265, 1);
            /* older webkit */
            -webkit-transition: all 800ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
            -moz-transition: all 800ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
            -o-transition: all 800ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
            transition: all 800ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
            a {
                display: block;
                .search-content {
                    max-width: calc(100% - 100px);
                    .search-title {
                        h4 {
                            display: flex;
                            align-items: center;
                            font-size: 24px;
                            padding-bottom: 15px;
                            transition: .4s ease;
                        }
                        span {
                            padding-left: 60px;
                            display: inline-block;
                            position: relative;
                            font-size: 16px;
                            color: var(--color-text);
                            vertical-align: middle;
                            &:after {
                                position: absolute;
                                content: "";
                                top: calc(50% + 1px);
                                left: 25px;
                                width: 30px;
                                height: 2px;
                                background-color: var(--color-yellow-deep);
                                transform: translateY(-50%);
                            }
                        }
                    }
                    p {
                        font-size: 16px;
                        color: var(--color-text);
                    }
                }
                // arrow style here
                svg,
                img {
                    height: 40px;
                    width: 50px;
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-50%) translateX(-50px);
                    opacity: 0;
                    visibility: hidden;
                    path {
                        fill: var(--color-yellow-deep);
                    }
                }
            }
            &:last-child {
                border-bottom: 0px;
            }
            &.no-results {
                padding-left: 0px;
                &:after {
                    display: none;
                }
            }
            // list background style 
            &:after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                bottom: 0px;
                left: 0;
                transform: scaleY(0);
                transform-origin: top left;
                background-color: var(--color-secondary);
                z-index: -1;
                // transition support
                -webkit-transition: var(--ease-in-out);
                -moz-transition: var(--ease-in-out);
                -o-transition: var(--ease-in-out);
                transition: var(--ease-in-out);
            }
            &:hover {
                a {
                    // arrow hover style
                    svg {
                        transform: translateY(-50%) translateX(0);
                        opacity: 1;
                        visibility: visible;
                        transition: .5s ease;
                    }
                    .search-title {
                        h4 {
                            color: var(--color-yellow-deep);
                        }
                    } // list background hover 
                }
                &:after {
                    transform-origin: left 100%;
                    transform: scaleY(1);
                }
            }
            &:nth-child(2) {
                transition-delay: .2s;
            }
            &:nth-child(3) {
                transition-delay: .4s;
            }
            &:nth-child(4) {
                transition-delay: .6s;
            }
            &:nth-child(5) {
                transition-delay: .8s;
            }
        }
        // search active style here
        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            li {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

//  //MEDIA SCREEN 1600px
//  @media screen and (max-width: 1600px) {}
//  //MEDIA SCREEN 1600px
//  @media screen and (max-width: 1350px) {}
//  //MEDIA SCREEN 1600px
@media screen and (max-width: 1199px) {
    .search-popup-area {
        height: 100%;
        .popup-close-icon {
            height: 20px !important;
            width: 20px !important;
            svg {
                height: 10px !important;
                width: 10px !important;
            }
        }
    }
    .search-option {
        .search-box {
            width: 90%;
            margin: 0 auto;
        }
    }
    .data-list-wrapper {
        .data-list {
            li {
                a {
                    .search-content {
                        max-width: calc(100% - 50px);
                        .search-title {
                            h4 {
                                font-size: 20px;
                                align-items: flex-end;
                            }
                            span {
                                min-width: 170px;
                            }
                        }
                    }
                    svg {
                        height: 25px;
                        width: 30px;
                    }
                }
            }
        }
    }
}

//  //MEDIA SCREEN 1600px
//  @media screen and (max-width: 991px) {}
//  //MEDIA SCREEN 1600px
//  @media screen and (max-width: 767px) {}
//  //MEDIA SCREEN 1600px
@media screen and (max-width: 575px) {
    .data-list-wrapper .data-list li a svg {
        display: none;
    }
    .data-list-wrapper .data-list li a .search-content {
        max-width: 100%;
    }
}