@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1140px
) ;

p, a {
  font-family: var(--paragraph-font);
}