@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

@font-face {
  font-family: Dimitri;
  font-weight: 400;
  font-style: Regular;
  src: url(../../../fonts/DIMITRI_.TTF) format("truetype")
}